.gamesPage
    .main
        .breadcrumbs
            a(href="#").breadcrumbs__item Головна
            .breadcrumbs__item Ігри
        .title
            .title__top
                form.quicksearch(role="search")
                    input.quicksearch__input(placeholder="Пошук слотів" type="text")
                    button.quicksearch__btn(type="submit" aria-label="Пошук")
                label.switcher Megaways
                    input.switcher__input(type="checkbox", checked)
                    span.switcher__area
            .title__bottom
                .filters
                    .filters__item
                        .filters__info
                            .filters__info-text Обрати
                            .filters__info-img
                        ul.filters__dropdown
                            li.filters__dropdown-item Варіант 1
                            li.filters__dropdown-item Варіант 2
                            li.filters__dropdown-item Варіант 3
                            li.filters__dropdown-item Варіант 4
                            li.filters__dropdown-item Варіант 5
                            li.filters__dropdown-item Варіант 6
                            li.filters__dropdown-item Варіант 7
                            li.filters__dropdown-item Варіант 8
                    .filters__item
                        .filters__info
                            .filters__info-text Обрати
                            .filters__info-img
                        ul.filters__dropdown
                            li.filters__dropdown-item Варіант 1
                            li.filters__dropdown-item Варіант 2
                            li.filters__dropdown-item Варіант 3
                            li.filters__dropdown-item Варіант 4
                            li.filters__dropdown-item Варіант 5
                            li.filters__dropdown-item Варіант 6
                            li.filters__dropdown-item Варіант 7
                            li.filters__dropdown-item Варіант 8
                    .filters__item
                        .filters__info
                            .filters__info-text Обрати
                            .filters__info-img
                        ul.filters__dropdown
                            li.filters__dropdown-item Варіант 1
                            li.filters__dropdown-item Варіант 2
                            li.filters__dropdown-item Варіант 3
                            li.filters__dropdown-item Варіант 4
                            li.filters__dropdown-item Варіант 5
                            li.filters__dropdown-item Варіант 6
                            li.filters__dropdown-item Варіант 7
                            li.filters__dropdown-item Варіант 8
                    .filters__item
                        .filters__info
                            .filters__info-text Обрати
                            .filters__info-img
                        ul.filters__dropdown
                            li.filters__dropdown-item Варіант 1
                            li.filters__dropdown-item Варіант 2
                            li.filters__dropdown-item Варіант 3
                            li.filters__dropdown-item Варіант 4
                            li.filters__dropdown-item Варіант 5
                            li.filters__dropdown-item Варіант 6
                            li.filters__dropdown-item Варіант 7
                            li.filters__dropdown-item Варіант 8
        .content
            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/cat.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/cat2.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати


            .game
                .game__top
                    img(src="img/cat3.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати

            .game
                .game__top
                    img(src="img/game-title.jpg" alt="Favbet")
                .game__center
                    ul.game__center-name Crazy Monkey
                        li.game__center-info
                            .game__center-feature Кількість барабанів:
                            .game__center-value 5
                        li.game__center-info
                            .game__center-feature Максимальна ставка:
                            .game__center-value 25
                        li.game__center-info
                            .game__center-feature RTP
                            .game__center-value.imp-value 98%
                .game__buttons
                    a(href="#").game__buttons-btn.btn-info Огляд
                    a(href="#").game__buttons-btn.btn-play Грати
        .moreBnt Завантажити більше